<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ng-i18nFilter</title>
    <!--CSS-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />

    <!--JS-->
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="ng-i18nFilter.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-app="app">
    <div ng-controller="appCtrl">
        <button ng-click="setLang('es-MX')">es-MX</button>
        <button ng-click="setLang('en-US')">en-US</button> {{'sample.sample.sample' | i18n}}
    </div>
</body>

</html>